# Virtual Environment (PENTING)
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
*.so

# Database Lokal (agar tidak menimpa data orang lain)
*.db
*.sqlite3

# Environment variables
.env